body{
  background-color: rgb(109, 185, 185);
  font-family: Ubuntu;
  font-weight: 500;
  font-size: large;
}
.sheet{
  background-color: rgb(109, 185, 185) !important;
}
.people{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid ghostwhite;
  border-radius: 10px;
  background-color: lightblue;
  color: black; 
  min-width: 500px;
  column-gap: 10px;
  margin-bottom: 3px;
}
.debt{
  @extend .people;
  display: block;
}
.people:nth-last-child(-n+2){
margin-bottom: 0 !important;
}

.v-card{
  background-color: rgb(109, 185, 185) !important;
  margin: 20px 0px;
}
.noPeople{
  @extend .people;
  justify-content: center;
  max-width:500px;
  max-height:438px;
  margin: 0 auto;
}
.next-button{
  margin-top: 20px;
}
  
.v-input__details{
  display: none !important;
}

.text-field-container{
width: 300px;
}
