body{
  background-color: rgb(109, 185, 185);
  font-family: Ubuntu;
  font-weight: 500;
  font-size: large;
}
.sheet{
  background-color: rgb(109, 185, 185) !important;
}
.people{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid ghostwhite;
  border-radius: 10px;
  background-color: lightblue;
  color: black; 
  min-width: 500px;
  column-gap: 10px;
  margin-bottom: 3px;
}
.debt{
  @extend .people;
  display: block;
}
.people:nth-last-child(-n+2){
margin-bottom: 0 !important;
}

.v-card{
  background-color: rgb(109, 185, 185) !important;
  margin-bottom: 10px;
}
.noPeople{
  @extend .people;
  justify-content: center;
  max-width:500px;
  max-height:438px;
  margin: 0 auto;
}
.next-button{
  margin-top: 20px;
}
.people-container{
  background-color: lightblue;
  margin-bottom: 3px;
  border-radius: 10px;
}

.people-container:nth-last-child(-n+2){
  margin-bottom: 0 !important;
  }
  
.v-input__details{
  display: none !important;
}

.text-field-container{
width: 300px;
}

.alert-button{
  border: none;
  background-color: rgb(251, 140, 0)s;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 16px;
}
.people-list{
  display: flex;
  flex-direction: row;
  gap: 5px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 5px 0px;
  max-width: 456px;
  margin-left: 22px;
}
.people-item{
  border: 2px solid gray;
  border-radius: 10px;
  padding: 3px;
  max-height: 37px;
  
}
.people-item:hover{
  opacity: 0.75;
  background-color:rgb(94, 159, 159);
  transition: .15s;
}
.clicked{
border: 2px solid greenyellow;
}
.error{
  border: 2px solid rgb(170, 47, 47);
}
.people-item:first-child{
  border-color: black;
  margin-right: 10px;
}
.result{
  margin-top: 20px;
  background-color: coral;
}
.resultcard{
  margin-top: 20px;
}
.dialog{
  margin-top: 5px;
}